@model WebKomunalka.Net8.Models.Payment
@{
    var services = (SelectList)ViewBag.Services;
}

<h1>Додати платіж</h1>

<form asp-action="AddPaymentPost" method="post">
    <div class="form-group">
        <label for="Date">Дата</label>
        <input type="text" class="form-control" id="Date" name="Date" required>
    </div>
    <div class="form-group">
        <label for="AmountUsage">Використана кількість</label>
        <input type="number" step="0.01" class="form-control" id="AmountUsage" name="AmountUsage" required>
    </div>
    <div class="form-group">
        <label for="TotalPrice">Загальна ціна</label>
        <input type="number" step="0.01" class="form-control" id="TotalPrice" name="TotalPrice" required>
    </div>
    <div class="form-group">
        <label for="ServiceId">Послуга</label>
        <select class="form-control" id="ServiceId" name="ServiceId">
            @foreach (var service in services)
            {
                <option value="@service.Value">@service.Text</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Додати платіж</button>
</form>