@model WebKomunalka.Net8.Models.Service

@{
ViewData["Title"] = "Add Service";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddServicePost" asp-controller="Service" method="post">
    <div class="form-group">
        <label asp-for="ServiceName">Service Name</label>
        <input asp-for="ServiceName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitType">Unit Type</label>
        <input asp-for="UnitType" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Company">Company</label>
        <input asp-for="Company" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add Service</button>
</form>

@section Scripts {
    <script>
        document.querySelector('input[name="UnitPrice"]').addEventListener('input', function (e) {
            this.value = this.value.replace('.', ',');
        });
    </script>
}