@{
ViewData["Title"] = "No Services";
}

<h2>@ViewData["Title"]</h2>

<p>У вас немає наявних сервісів. Будь ласка, додайте їх.</p>

<p>
    @Html.ActionLink("Add Service", "Create", "Service", null, new { @class = "btn btn-primary" })
</p>