@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Якась іформація</a>.</p>
</div>
<!-- Ваш код ... -->

<div class="card">
    <div class="card-header">
        Загальна ціна всіх оплат: Данні відсутні
    </div>
    <div class="card-body">
        <h5 class="card-title">Топ 3 оплати:</h5>
        <ul>
            В вас відсутні оптати
        </ul>
    </div>
</div>

<!-- Ваш код ... -->